@import '../../global/variables.scss';

.Navbar {
  display: flex;
  width: auto;
  height: 5.5vh;
  padding: 2vh 2vh;
  justify-content: space-between;
  box-shadow: 0.4vh 0.4vh 2vh 0.2vh rgba($hut-green, 0.2);
}