@import '../../../global/variables.scss';

.NavMenu {
  height: 100%;
  width: 50%;

  nav {
    height: 100%;
    display: flex;
    align-items: center;
    width: 100%;

    img {
      height: 100%;
      transition: .1s;
      z-index: 1;

      &:hover {
        filter: brightness(103%);
      }
    }

    [icon] {
      position: relative;
      right: 0.5vh;
      transition: 0.3s;
      fill: $hut-green-dark-1;
    }

    ul {
      position: relative;
      right: 5vh;
      display: flex;
      list-style: none;
      transition: 0.8s;

      li {
        cursor: pointer;
        transition: 0.2s;
        padding: 3.5vh 2.5vh;

        &:hover {
          color: $hut-green-dark-1;
        }
      }
    }
  }
}

.hidden {
  opacity: 0;
  transform: translateX(-10vh);
}