@import "../../../global/variables.scss";

.UserNav {
  position: absolute;
  top: 0;
  right: 0;
  background-color: white;
  box-shadow: 0 0.2vh 0.4vh rgba(black, 0.15);
  width: 21vh;
  transition: 0.5s;

  .info {
    display: flex;
    flex-direction: column;
    padding: 2vh 2.5vh 0;

    img {
      width: 7vh;
      height: 7vh;
      object-fit: cover;
      border-radius: 50%;
    }

    .extraInfo {
      padding: 1vh 0;
      position: relative;
      right: 0.5vh;

      .menuItem {
        display: flex;
        align-items: center;
        padding-right: 1vh;
        font-size: 1.4vh;

        [icon] svg {
          width: 2.2vh;
          margin-right: 0.2vh;
          fill: $hut-gray;
        }
      }
    }
  }

  .menu {
    padding-right: 1vh;

    .menuItem {
      display: flex;
      align-items: center;
      padding-top: 1vh;
      cursor: pointer;

      [icon] svg {
        width: 2.8vh;
        padding: 0.3vh 0.7vh;
      }

      &:hover {
        color: $hut-green-dark-1;
        fill: $hut-green-dark-1;
      }
    }
  }

}

.hidden {
  transform: translateY(-105%);
}