@import '../../../global/variables.scss';

.UserMenu {
  display: flex;
  align-items: center;

  [trigger] {
    display: flex;
    align-items: center;
    cursor: pointer;

    [icon] {
      position: relative;
      top: 0.2vh;
      fill: $hut-orange;
    }
  }
}